<mat-grid-list cols="1" *ngIf="!contenedor; else despacho">
  <mat-grid-tile>
      <mat-progress-spinner 
          mode="indeterminate" 
          color="primary">
      </mat-progress-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #despacho>

  <h1>{{title}}</h1>
  
  
  <button (click)="createContainer()">
    Crear contenedor
  </button>
  
  <div class="container">
  
    <div class="list-warehouse">
      <div class="done-container column-container">
        <h2>Almacén</h2>
  
        <div class="list" cdkDropList #warehouse="cdkDropList" [cdkDropListData]="warehouseBox.data"
          (cdkDropListDropped)="drop($event)">
          <mat-card *ngFor="let bulto of warehouseBox.data" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{bulto.sisgerCode}}</mat-card-title>
              <mat-card-subtitle>{{bulto | client}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div class="list-wrapper">
  
      <div class="list-container">
        <div *ngFor="let column of containersBox" class="todo-container column-container">
          <h2>{{column.title}}</h2>
          <div class="list" cdkDropList #container="cdkDropList" #{{column.name}}="cdkDropList"
            [cdkDropListData]="column.data" (cdkDropListDropped)="drop($event)">
            <mat-card *ngFor="let bulto of column.data" cdkDrag>
              <mat-card-header>
                <mat-card-title>{{bulto.sisgerCode}}</mat-card-title>
                <mat-card-subtitle>{{bulto | client}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</ng-template>
